<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="<?php echo ASSETS;?>/assets/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <ol class="breadcrumb navbar-breadcrumb">
                        <li class="active">Vgambler</li>
                    </ol>
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-times icon"></i>
                    </button>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="title">
                                Notification <span class="badge pull-right">0</span>
                            </li>
                            <li class="message">
                                No new notification
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown danger">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                        <ul class="dropdown-menu danger  animated fadeInDown">
                            <li class="title">
                                Notification <span class="badge pull-right">4</span>
                            </li>
                            <li>
                                <ul class="list-group notifications">
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i> new registration
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> customers messages
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item message">
                                            view all
                                        </li>
                                    </a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Emily Hart <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="profile-img">
                                <img src="<?php echo ASSETS;?>/assets/img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                            </li>
                            <li>
                                <div class="profile-info">
                                    <h4 class="username">Emily Hart</h4>
                                    <p>emily_hart@email.com</p>
                                    <div class="btn-group margin-bottom-2x" role="group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> Logout</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <div class="icon fa fa-paper-plane"></div>
                            <div class="title">Vgambler System</div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="index.html">
                                <span class="icon fa fa-tachometer"></span><span class="title">我的博客</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="classify.html">
                                <span class="icon fa fa-table"></span><span class="title">我的分类</span>
                            </a>
                        </li>
                        <li>
                            <a href="tags.html">
                                <span class="icon fa fa-cubes"></span><span class="title">我的标签</span>
                            </a>
                        </li>
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-element">
                                <span class="icon fa fa-desktop"></span><span class="title">其他</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-element" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#">其他 No.1</a>
                                        </li>
                                        <li><a href="#">其他 No.2</a>
                                        </li>
                                        <li><a href="#">其他 No.3</a>
                                        </li>
                                        <li><a href="#">其他 No.4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">Table</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            © 2014-2018 Copyright.Vgambler
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/Chart.min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/ace/ace.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/js/app.js"></script>
        <script type="text/javascript" src="<?php echo ASSETS;?>/assets/js/index.js"></script>
    </div>
</div>
</body>
</html>
